#add-note{
    overflow: scroll;
    box-shadow: var(--inset-shadow);
    height: calc(100vh - 220px);
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 20px 20px 20px;
}

#add-note img{
    max-height: 200px;
    max-width: 90%;
    display: block;
    box-shadow: var(--shadow);
    margin: 20px;
    border-radius: 5px;
}


#upload{
    position: absolute;
    top:0;right: 0;
}

#message{
    display: block;
    position: absolute;
    top:0;right: 0;
}

.img-paste{
    width: 100px;
    margin: 10px;
    box-shadow: var(--inset-shadow);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

hr{
    border:2px solid var(--theme);
}