#add-note{
    overflow: scroll;
    box-shadow: var(--inset-shadow);
    height: calc(100vh - 220px);
    border-radius: 10px;
    margin-top: 10px;
}

.add-note{
    margin: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    div{
        text-align: left;
        font-size: 20px;
    }
    .img-paste{
        font-size: 15px;
        width: calc(100% - 20px);
        margin: 10px auto;
        box-sizing: border-box;
        transition: .3s;
        padding: 10px;

        box-shadow: var(--inset-shadow);
        border-radius: 5px;

    }
    .img-choose{
        font-size: 15px;
        width: calc(100% - 20px);
        margin: 10px auto;
        box-sizing: border-box;
        transition: .3s;
        padding: 10px;

        box-shadow: var(--inset-shadow);
        border-radius: 5px;

    }
    .img-paste:focus-visible{
        outline:none;
        border: 3px solid var(--green);
    }
}

#add-note img{
    max-height: 200px;
    max-width: 100%;
    margin: 10px auto;
    display: block;
    box-shadow: var(--shadow);
    border-radius: 5px;
}


#upload{
    position: absolute;
    top:0;right: 0;
}

#message{
    display: block;
    position: absolute;
    top:0;right: 0;
}


