#add-note{
    text-align: -webkit-center;

}

#add-note img{
    max-height: 200px;
    max-width: 100%;
    display: block;
    border: 2px solid black;
}



#message{
    display: block;
    margin: 20px;
}

.img-paste{
    width: 100px;
    margin: 10px;
    box-shadow: var(--inset-shadow);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

