#all-notes {

    overflow: scroll;
    box-shadow: var(--inset-shadow);
    height: calc(100vh - 220px);
    border-radius: 10px;
    margin-top: 10px;

    display: flex;

    .note {
        margin: 10px;
        box-shadow: var(--shadow);
        border-radius: 10px;
        width: fit-content;
        min-width: calc((100% - 80px));
        padding: 10px;

        img {
            display: block;
            width: calc(100% - 20px);
            box-shadow: var(--shadow);
            margin: 10px;
            border-radius: 5px;
        }

        .images {
            overflow: scroll;
            height: calc(100% - 40px);
            box-shadow: var(--inset-shadow);
            border-radius: 10px;

            .solution {
                border-bottom: 20px solid var(--green);
            }

            button {
                margin: 0 10px 10px 10px;
            }
        }

        #card-delete-button {
            margin: 10px 0;

        }

        #message-button {
            margin: 10px 0;
            box-shadow: var(--inset-shadow);
        }
    }





}