#all-notes{

    overflow: scroll;
    box-shadow: var(--inset-shadow);
    height: calc(100vh - 200px);
    border-radius: 10px;
    margin-top: 10px;

    display: flex;

    .note{
        margin: 10px;
        box-shadow: var(--shadow);
        border-radius: 10px;
        width: fit-content;
        padding: 10px;

        img{
            display: block;
            max-width: 220px;
            box-shadow: var(--shadow);
            margin: 10px;
            border-radius: 5px;
        }
        
        .images{
            overflow: scroll;
            height: calc(100% - 40px);
            box-shadow: var(--inset-shadow);
            border-radius: 10px;
            margin: 10px 0 10px 0;
            .solution{
                border-bottom: 20px solid var(--green);
            }
        }

        #message-button{
            box-shadow: var(--inset-shadow);
        }
    }
    
    
    
    

}