 #app {
  margin: 20px;
}

.selected-action{
  background: var(--green);
  color:white;
}

#home-button-link{
  background: var(--yellow);
  position: fixed;
  top:0;right:0;margin: 20px;

}


.course-link{
  background: var(--theme);
  display: block;
  margin-bottom: 20px;
}

.course-link a{
  color:white;
}


#actions button{
  margin:10px;
}


#course-name{
  text-transform: uppercase;
}