#app {
  margin: 20px;
  position: relative;
  max-width: 400px;
}

.selected-action {
  box-shadow: var(--inset-shadow);
}

#home-button-link {
  margin-bottom: 20px;

}


#courses-list {
  margin: 20px;
}

.course-link {
  background: var(--theme);
  display: block;
  margin-bottom: 20px;
}

.course-link {
  color: white;
}

#actions button {
  margin-right: 20px;
}


#course-name {
  text-transform: uppercase;
}

#home {
  position: relative;
}

#admin {
  position: absolute;
  top: 0;
  right: 0;
}

#no-notes {
  margin: 20px;
}

#message {
  box-shadow: var(--inset-shadow);
}

#course-name {
  text-transform: uppercase;
  margin:10px 0 10px 0;
}